.fondo {
  background-color: black;
}

#container {
  height: 100%;
}



#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#screen {
  //min-height: 200px;
  border:2px solid blue;
  border-radius:4px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.time {
  text-align:center;
  font-size: 25px;
}

.full_height {
  height: 100%;
}

.no_padding {
  padding: 0;
}

.bordered {
  border:1px solid blue;
}

.top-border {
  border-top:1px solid blue;
}
.middle-border {
  border-right:1px solid blue;
}

.bottom_row{
  height: 100px;
}

.heat {
  background-color: darkred;
}

.cold {
  background-color: darkblue;
}

.mode_list{
  height: 100%;
  padding:3px;
}

.standard_mode {
  display: block;
  height: 20px;
  margin: 0px;
  padding: 0px;
}
.heat_mode{
  display: block;
  height: 20px;
  margin:0;
  margin-top:18px;
}
.cold_mode{
  display: block;
  height: 20px;
  margin:0px;
  margin-top:40px;
}

.general_row{
  height: auto;
}

.swing_air div{
  display: inline-block;
  margin-left:1px;
  margin-right: 1px;
}

.swing_air .swing {
  position: absolute;
  margin-left: 1px;
}

.swing_air .air_flow{
  position: absolute;
  margin-left: 20px;
}

.setters_row{
  height: 20px;
  position: sticky;
  top: 30vh;
}
