<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Air conditioner 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Air conditioner</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid id="container" class="fondo">
    <ion-row>
    <ion-col col-xl="10" col-md="12" >
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-button color="warning" expand="block"><ion-icon name="power"></ion-icon > </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div id="screen">
          <div *ngIf="isLoading"><ion-spinner></ion-spinner></div>
          <div *ngIf="!isLoading" color="primary">
  
            <ion-row class="full_height"> 
              <ion-col >
                CLOCK
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col class="time">
                <span *ngIf="time">{{ time }}</span>
              </ion-col>
            </ion-row>
            <ion-row class="bottom_row">
              <ion-col class="bordered mode_list">
                <div [hidden]=standardMode class="standard_mode">    
                  STANDARD             
                </div>
                <div [hidden]=heatMode class="heat_mode">
                  HEAT
                </div>
                <div [hidden]=coldMode class="cold_mode">
                  COLD
                </div>
              </ion-col>
              <ion-col class="bordered no_padding">
                <ion-row class="general_row">
                  <ion-col>
                    <div *ngIf="temp"><span #temperature>{{ temp }}</span> ºC</div>
                    <div class="swing_air">
                      <div [hidden]=swing class="swing"><ion-icon name="swap-vertical-outline"></ion-icon></div>
                      <div [hidden]=airFlow class="air_flow"><ion-icon name="help-buoy-outline"></ion-icon></div>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="setters_row top-border" >
                  <ion-col class="middle-border" >  
                    <div >-</div>
                  </ion-col>
                  <ion-col>
                    <div >-</div>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col class="bordered">
                <div> </div>
                <div class="fanSpin">
                  <div><fa-icon [icon]="['fas', 'fan']" transform="shrink-6 right-4"></fa-icon></div>
                  <div><fa-icon [icon]="['fas', 'fan']" transform="shrink-4 right-4"></fa-icon></div>
                  <div><fa-icon [icon]="['fas', 'fan']" transform="shrink-2 right-4"></fa-icon></div>
                  <div><fa-icon [icon]="['fas', 'fan']" transform="right-4"></fa-icon></div>
                </div>
                <div class="levels">
                  <div><fa-icon class="fan1" [icon]="['fas', 'ruler-horizontal']" transform="" [hidden]=fan1></fa-icon></div>
                  <div><fa-icon class="fan2" [icon]="['fas', 'ruler-horizontal']" transform="grow-1" [hidden]=fan2></fa-icon></div>
                  <div><fa-icon class="fan3" [icon]="['fas', 'ruler-horizontal']" transform="grow-2" [hidden]=fan3></fa-icon></div>
                  <div><fa-icon class="fan4" [icon]="['fas', 'ruler-horizontal']" transform="grow-3" [hidden]=fan4></fa-icon></div>
                </div>
              </ion-col>
            </ion-row>
            
            </div>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>   
        <ion-button expand="block" (click)="setMode()">MODE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="tempUp()">+</ion-button>  
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="setFanSpeed()">FAN</ion-button>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
          <ion-button expand="block" color="secondary" (click)="tempDown()">-</ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider>
  
    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-button expand="block" (click)="setSwing()">SWING<br>LOUVER</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="setAirFlow()">AIR FLOW<br>DIRECTION</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
